#track{
    width: 500px;
    height: 10px;
    background: #fff;
    opacity: .3;
    text-align:center;
}

.preload-background{
  background-color: #6f6f6f;
}

.logo {
  height: 100px;
  margin: auto;
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
}

#scrubber{
    width:2px;
    height: 10px;
    background: red;
    -webkit-transition: width 200ms linear; /**Safari Transition**/
    transition:  transform 1s width 1ms ease-in-out;
}

.fa {
    color: black;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}


#volume-track{
    display: inline-block;
    width: 100px;
    height: 8px;
    margin-bottom: 2px;
    background: #fff;
    opacity: .3;
    text-align:center;
}

#title{
    width: 350px;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#volume-slider{
    width:2px;
    height: 8px;
    background: red;
}

#temperature {
    font-size: 24px;
    margin: auto;
}

#condition {
    margin: 2px;
    font-size: 16px;
    margin-left: 10px;
}

.weather-icon {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.margin-top-10{
  margin-top: 10px;
}
