<div class="background-image"></div>
<div class="content">

<header>
    <img class="fadeable" class="logo-small" src="assets/img/weathermix-logo.png" />
    <h1 class="text-center fadeable">weatherMix</h1>
    <hr />
    <h3 class="text-center fadeable">Find the right music for the weather.</h3>
    <div id="padding-block-50"> </div>
</header>

<main>
    <div *ngIf="soundcloudURI">
        <playlist [soundcloudURI]="soundcloudURI"></playlist>
    </div>

    <div id="padding-block-150"> </div>

    <div *ngIf="weatherCond && weatherStats" id="weather-information">
        <img class="weather-icon text-center" src="http://openweathermap.org/img/w/{{weatherCond.icon}}.png">
        <p id="temperature" class="text-center">{{weatherStats.temp | number : '1.0-0'}}º</p>
        <p id="condition" class="text-center">{{weatherCond.main}} in {{location}}.</p>
    </div>

    <div id="padding-block-50"> </div>
    <a class="button big-button text-center" routerLink="/">Change Location</a>
</main>
